@media(max-width: 991px){
  .header .logo a{
    font-size: 20px;
  }
  .hero-section{
    padding: 0;
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-top: 20px;
  }
  .hero-text{
    padding: 30px;
  }
  .hero-section h1{
    display: none;
  }
  .hero-section p{
    width: 100%;
    margin: 0;
  }
  .hero-section img{
    width: 100%;
  }
  
  .services .service{
    width: 100%;
  }

  .projects .projects-wrapper{
    gap: 20px;
  }
  .projects .project-images{
    /* flex-direction: column-reverse; */
    gap: 10px;
  }
  #project-2{
    flex-direction: column;
  }
  #project-1{
    flex-direction: column-reverse;
  }
  .projects img{
    width: 100%;
  }
  .project-images .content{
    padding: 10px;
  }

  .counter{
    flex-direction: column;
    gap: 20px;
  }
  .counter-wrapper{
    margin: 50px 0;
  }

  .swiper {
    width: 98%;
    height: 100%;
  }
  .review{
    width: 100%;
  }
  .reviews .review-title{
    margin: 20px;
  }

  .gallery img{
    width: 100%;
    height: auto;
  }

  .contact-form{
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 20px;
    margin: 50px 0;
  }
  .contact-label{
    width: 100%;
  }
  form{
    width: 100%;
  }
  .dateTime-wrap, .typeGuest{
    flex-direction: column;
  }
  .map{
    width: 100%;
  }
}